*{
    margin: 0;
    padding: 0;
}
.centenr{
    margin-left: auto;margin-right: auto;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #666;

}
.row:after {
    content: "";
    display: table;
    clear: both;
}
/*
公共样式*/
.top{
    width: 100%;
    height: 40px;
    background-color: #FAFAFA;
    border-bottom: 1px solid #ebebeb;
}
.top-a{
    width: 1240px;
    height: 40px;
}
.top-b{
    display: inline-block;
    float: left;
    line-height: 40px;

}
.top-b li{
    display: inline-block;
    float: left;
    margin-right:10px;
    font-size: 12px;
}
.top-c{
    display: inline-block;
    float: right;
}
.top-c li{
    font-size: 12px;
    display: inline-block;
    line-height: 40px;
    margin-right: 10px;
}
.da{
    width: 1240px;
    height: 1300px;
}
.nav{
    width: 100%;
    background: url("../images5/logo.png") no-repeat ;
    height: 70px;
    margin-top: 30px;
}
.nav button{
    width: 150px;
    height: 42px;
    background: #ffdd3d url("../images5/shopcar.png") no-repeat 30px center;
    border: none;
    font-size: 14px;
    float: right;
    margin-top: 30px;
}
.ss{
    width: 357px;
    height: 40px;
    float: right;
    margin-top: 30px;
    margin-right: 10px;
}
.ss input{
    width: 310px;
    height: 40px;
    outline: none;
}
.ss span{
    float: right;
    display: inline-block;
    width: 43px;height: 44px;
    box-sizing: border-box;
    border: 1px solid #b2b2b2;
    border-left: none;
    background: url("../images5/fangdajing.png") no-repeat center center;
}
.nav p{
    color: #b2b2b2;
    background: url("../images5/clock.png") no-repeat 0px center;
    float: right;
    text-indent: 20px;
    margin-right: -518px;
    font-size: 13px;
}
.nav-a{
    width: 100%;
    height: 50px;
    background-color: #404145;
    margin-top: 30px;
}
.nav-b{
    background: #ff4a00;
    width: 300px;
    height: 100%;
    float: left;
    color: white;
    font-size: 18px;
    line-height: 50px;
    text-indent: 20px;
}
.nav-c{
    width: 940px;
    line-height: 50px;
    display: inline-block;
    color: white;
    float: right;
}
.nav-c li{
    display: inline-block;
    font-size: 18px;
    margin-right: 15px;
    text-indent: 20px;
}
.nav-d{
    line-height: 40px;
    font-size: 12px;
    color: #7f7f7f;
}
.nav-e{
    font-size: 18px;
    line-height: 40px;
    color: #777;
    border-bottom: 1px solid #dfdfdf;
    margin-bottom: 40px;
}
.quan{
    width: 100%;
    height: 870px;

}
.quan-a{
    width: 100%;
    height: 50%;
    margin-bottom: 90px;
}
.quan-b{
    width: 20%;
    height: 100%;
    box-sizing: border-box;
    border-right: 1px solid #dfdfdf;
    float: left;
}
.quan-b li{
    font-size: 12px;
    color: #7f7f7f;
    line-height: 28px;
}
.quan-b li:not(:first-child){
    text-indent: 20px;
}
.quan-b li:first-child{
    text-align: center;
    margin-bottom: 30px;
}
.quan-b li:nth-child(2){
    font-size: 18px;
}
.quan-c{
    width: 100%;
    height: 50%;
}
.quan-d{
    border: none;
}
.end{
    width: 1920px;
    height: 537px;
    background-color: #FAFAFA;
}
.end-a{
    width: 1240px;
    height: 160px;
}
.end-b{
    width: 20%;
    height: 160px;
    float: left;
    text-align: center;
    box-sizing: border-box;
    padding-top: 50px;
    border-bottom: 1px solid #ebebeb;
}
.end-b p{
    line-height: 40px;
}
.end-c{
    width: 1240px;
    height: 200px;
    border-bottom: 1px solid #ebebeb;

}
.end-d{
    width: 290px;
    height: 140px;
    text-align: center;
    float: right;
    box-sizing: border-box;
    margin-top: 30px;
}
.end-d-wz{
    font-size: 30px;
    line-height: 40px;
}
.end-d-wx{
    font-size: 12px;
    line-height: 20px;
}
.end-d button{
    width: 150px;
    color: white;
    text-align: center;
    line-height: 40px;
    background-color: #ff4a00;
    border: none;
    margin-top: 15px;
}
.end-e{
    width: 950px;
    overflow: hidden;
    float: left;
    margin-top: 50px;
}
.end-e ul{
    float: left;
    width: 20%;
    font-size: 14px;
}
.end-e ul li{
    line-height: 28px;
    width: 160px;
    border-right: 1px solid #ebebeb;
}
.end-e ul li:first-child{
    font-size: 20px;
}
.end-f{
    width: 1240px;
    height:175px;
    box-sizing: border-box;
    padding-top: 40px;
    text-align: center;
}
.end-f ul{
    margin-left: 220px;
}
.end-f li{
    font-size: 14px;
    float:left;
}
.end-f p{
    font-size: 14px;
    line-height: 30px;
}
.end-i{
    margin-right: 260px;
    margin-top: 20px;
    box-sizing: border-box;
    width: 450px;
    height: 44px;
    float: right;
    background: url("../images3/16.png") no-repeat 0px 10px;
}
.end-i input{
    width: 230px;
    height: 40px;
    margin-left:150px;
}
